# Node / build
node_modules/
dist/
*.log
*.tmp
.DS_Store
Thumbs.db
pnpm-lock.yaml
# Autoriser le lockfile npm pour CI
#! package-lock.json

# IDE
.vscode/
.idea/

# Misc
*.local
*.cache
/.sass-cache
/.parcel-cache
coverage/
