*:not(p){
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
.etoile{
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
}

.Top{
    top:5%;
    left: 5%;
}
.Right{
    top:5%;
    right: 5%;
}
.Bottom{
    top: 90%;
    right: 5%;
}
.Left{
    bottom: 9.5%;
    left: 5%;
}

body{
    background-color: black;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Centra', sans-serif ;
    font-weight: 400;
}
#app nav div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image.profil{
    width: 50vw;
    height: 100vh !important;
}
.profile{
    width: 50% !important;
    border-radius: 10% !important;
}
header{
    display: flex;
    height: 100vh;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    font-size: calc(10px + 2vmin);
    background-color: #282c34;
    color: white;
}

.info{
    margin-left: 40px;
}
.projet ul div:hover{
    filter: brightness(0.5);
    cursor: pointer;
}
.title{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.projet ul div{
    background-color: #000000;
}
#HCJ button:hover{
    background: rgb(227,76,38);
    background: linear-gradient(180deg, rgba(227,76,38,1) 45%, rgba(0, 0, 0, 0) 45%), linear-gradient(110deg, rgba(41,97,241,1) 66%, rgba(240,219,79,1) 66%);
    transition: 0.2s;
}
#java button:hover{
    background: rgb(227,76,38);
}
#C button:hover{
    background: purple
}
#Python button:hover{
    background-color: #000000;
}
.Acess{
    display: flex;
    justify-content: space-around;
}
.Acess button{
    width: 40vw;
    height: 10vh;
    max-width: 200px;
    max-height: 80px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-left: gray solid;
    border-right: black solid ;
    border-bottom: black solid;
    border-top: gray solid ;
}
.Acess button:hover{
    border-left: black solid;
    border-right: grey solid ;
    border-bottom: black solid;
    border-top: grey solid ;
    transition: 0.5s;
    
}
@media screen and (min-width: 1665px){
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
    }
    footer button{
        width: 70px;
        height: 70px;
    }

nav{
    display: flex;
    width: 80%;
    height: 100%;
    justify-content: space-around;
    
}
nav button{
    width: 100%;
    border-radius: 100%;
    height: var(--h);
    cursor: pointer; 
    transition: 0.2s;
    scale: 1.2;
    
}
nav button:hover{
    scale: 1.5;
    border: none;
    transition: 0.2s;
}
nav div{
    width: 10%;
    height: 100%;
}
#app{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}
:root{
    --h:100%
}

.projet{
    border: solid white 1px;
    border-radius: 3%;
    height: 100%;
    width: 95%;
    background-color: rgba(255, 255, 255,1);
}
.projet ul li{
    height: 100%;
}
}
.projet{
    border-radius: 3%;
}

.portFolio{
    position: fixed;
    top: 10%;
}
.detail{
    position: relative;
}
.cercle{
    width: auto;
    height: auto;
    border-radius: 100%;
    border: solid;
    position: absolute;
    top: -5%;
    right: -3.5%;
    background-color: white;
    cursor: pointer;
}
@media screen and (max-width: 1241px){
    .portFolio img{
        width: 100%;
        left: 0;
    }
}

@media screen and (max-width: 1665px){
    #app{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
    
    }
    .projet ul div{
        width: 47%;
    }
    footer{
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
    }
    footer button{
        width: 70px;
        height: 70px;
    }
    nav{
        display: flex;
        width: 75vw;
        height: 50%;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    nav button{
        border-radius: 100%;
        width: 100%;
        height: 85%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        font-size: 100%;
        padding: 0;
        
        
    }
    #RS button{
        height: 250px;
        width: 100%;
    }
    nav div {
        width: 25%;
        margin: 10px;
    }
    .projet{
        border: solid white 1px;
        width: 80%;
        background-color: rgba(255, 255, 255,1);
    }
    }
@keyframes ledJ {
    0%{box-shadow: 5px 5px 100px red;}
    50%{box-shadow: 5px 5px 100px blue;}
    100%{box-shadow: 5px 5px 100px red;}
    
}
@keyframes ledC {
    0%{box-shadow: 5px 5px 100px rgb(119,119,248);}
    50%{box-shadow: 5px 5px 100px rgb(57,0,148);}
    100%{box-shadow: 5px 5px 100px rgb(119,119,248);}
    
}
@keyframes ledPy {
    0%{box-shadow: 5px 5px 100px rgb(0,153,242);}
    50%{box-shadow: 5px 5px 100px rgb(242,193,8);}
    100%{box-shadow: 5px 5px 100px rgb(0,153,242);}
    
}
@keyframes ledHCJ {
    0%{box-shadow: 5px 5px 100px #dd4b25;}
    33%{box-shadow: 5px 5px 100px #2862e9;}
    66%{box-shadow: 5px 5px 100px #efd81d;}
    100%{box-shadow: 5px 5px 100px #dd4b25;}
    
}
@keyframes ledMDP {
    0%{box-shadow: 5px 5px 100px green;}
    50%{box-shadow: 5px 5px 100px black;}
    100%{box-shadow: 5px 5px 100px green;}
}
@keyframes ledBD {
    0%{box-shadow: 5px 5px 100px #4a4a4a;}
    50%{box-shadow: 5px 5px 100px #db5443;}
    100%{box-shadow: 5px 5px 100px #4a4a4a;}
}
@keyframes ledLinux {
    0%{box-shadow: 5px 5px 100px #d7d8d3;}
    33%{box-shadow: 5px 5px 100px #000000;}
    66%{box-shadow: 5px 5px 100px #f5ce10;}
    100%{box-shadow: 5px 5px 100px #d7d8d3;}
}
@keyframes ledRS {
    0%{box-shadow: 5px 5px 100px #d7d8d3;}
    33%{box-shadow: 5px 5px 100px #000000;}
    66%{box-shadow: 5px 5px 100px #f5ce10;}
    100%{box-shadow: 5px 5px 100px #d7d8d3;}
}
.colorJava{
    animation-name: ledJ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.colorC{
    animation-name: ledC;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.colorPy{
    animation-name: ledPy;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.colorHCJ{
    animation-name: ledHCJ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.colorMDP{
    animation-name: ledMDP;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.colorBD{
    animation-name: ledBD;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.colorLinux{
    animation-name: ledLinux;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.colorRS{
    animation-name: ledRS;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.projet .image{
    margin: 50px !important;
    width: 75%!important;
}
.poste{
    width: 100%;
    height: 75%;
    margin-left: 0px;
}
.java2{
    position: absolute;
    margin-left:100px;
    top: 12%;
    left: 0;
    scale: 20%;
}
#odomo{
    filter: brightness(100%);
}
.projet ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    
}
.projet div{
    width: 33%;
    margin: 10px;
    border-radius: 20px;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}
.icofont-close{
    position: absolute;
    cursor: pointer;
    top: 7%;
    right: 7%;
}
.icofont-expand{
    position: absolute;
    top: 5%;
    right: 6%;
    cursor: pointer;
}

.projet li{
    width: 90%;
    height: 90%;

}
.retourner{
    transform: rotateY(180deg);
    transition: 1s;
}

.logo{
    width: 10%;
    position: absolute;
    margin-top: 40px;
    transition: 2s;
    transform: translateY(-5px);
}
.lang{
    width: 100%;
    height: 100%;
    border-radius: 100%;

}
.resumer{
    width: 100%;
    position: absolute;
    color: white;
    font-size: 40px;
    text-align: center;
    text-shadow: -1px 0 blue, 0 1px black, 1px 0 black, 0 -1px black;
}

.move {
    transition: 2s;
    transform: translateY(+5px);
}


.icofont-ui-email{
    width: 100%;
    height: 100%;
}

.window{
    background-color: #1a1a1a;
    position: fixed;
    top: 1%;
    width: 90vw;
    height: 95vh;
    border-top: 10px;
    border-top: #313131 solid 50px;
}

.cacher{
    visibility: hidden;
}
.contenu .reTEX{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 60%;
    
}
.contenu h1{
    position: absolute;
    color: white;
    width: 50%;
    height: 8%;
    left: 10%;
    top: 5%;
    font-size: 25px;
    border-bottom: solid white 10px;
}
#afficher{
    color: white;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 15%;
    font-size: 20pt;
    border-top: 1px white solid;
}
#Description{
    width: 40%;
    margin-top: 10px;
    font-size: 100%;
    color: white;

}
hr{
    color: white;
    background-color: white;
    width: 100%;
    height: 10px;
}
#me{
    align-items: center;
    text-align: center;
    
}
.down{
    transform: translateY(+30px);
    visibility: visible !important;
    transition: 0.1s;
}
#Presentation{
    color: white;
    text-align: center;
    
}
.Download{
    color: white;
    cursor: pointer;
    background-color: #1a1a1a;
    width: 10%;
    height: 7%;
    position: absolute;
    border-radius: 15%;
    top: 90%;
    right: 10%;
    border-left: solid #545454;
    border-top: solid #545454;
}

.contenu p{
    position: absolute;
    color: white;
    width: 25%;
    top: 20%;
    text-align: justify;
    right: 5%;
    border-top: 10px solid white;
    margin-left: 60px;
    padding-top: 30px;
}
.logo{
    visibility: hidden!important;
}
@media screen and (min-width:600px) and (max-width:1050px) {
    .window p{
        top: 50vh !important;
        left: 10%;
        width: 60%;
        margin-left: 0px;
    }
    
}

@media screen and (max-width:1050px) {
    #app{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        
    }
    .poste{
        height: 70%;
        width: 80%;
    }
    .window{
        height: 100vh;
        overflow: scroll;
    }
    .window p{
        left: 10%;
        width: 60%;
        padding-left: 0px;
    }
    #Presentation{
        margin-left: 15%;
    }
    nav{
        display: flex;
        width: 100%;
        height: 5%;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .resumer{
        font-size: 30px;
    }
    .projet ul li{
        width: 100%;
        height: 100%;
    }
    nav button{
        border-radius: 100%;
        max-width: 200px;
        max-height: 170px;
        justify-content: center;
        font-size: 100%;
        padding: 0;
    }
    nav i{
        margin-right: 100%;
        margin-left: 100%;
    }
    nav div{
        width: 40%;
        margin: 10px;
    }
    .projet ul div{
        width: 50%;
    }
    .contenu .reTEX{
        width: 60%;
        height: 0 40%;
    }
    .contenu h1{
        position: absolute;
        color: white;
        width: 65%;
        height: 12%;
        left: 10%;
        top: 5%;
        font-size: 20px;
        border-bottom: solid white 10px;
    }
}
@media screen and (max-height:847px) {
    .window{
        height:600px;
        overflow: scroll;
    }
}
@media screen and (max-width:600px) {
    .window p{
        top: 50vh !important;
        margin-left: 0px;
    }
}
    
@media screen and (max-width:1050px) {
    .window p{
        top: 500px !important;
        margin-left: 0px;
        width: 600px;
        height: 500px;
    }
    .window .contenu{
        width: 500px;
    }
    .contenu .reTEX{
        width: 600px;
    }
    .Download{
        top: 90%;
        width: 600px;
        border-radius: 10px;
        left:10%;
    }
}
@media screen and (max-height:744px) and (min-width:1050px) {
    .window p{
        top: 500px !important;
        margin-left: 0px;
        height: 500px;
        left: 10%;
    }
    .window .contenu{
        width: 500px;
    }
    .contenu .reTEX{
        width: 500px;
    }
    .Download{
        top: 0%;
        width: 510px;
        border-radius: 10px;
        left:10%;
    }
}
@media screen and (max-height:744px) {
    .window p{
        top: 500px !important;
        margin-left: 0px;
        width: 600px;
        height: 500px;
        left: 10%;
    }
    .contenu h1{
        width: 600px;
        font-size:20px
    }
    .window .contenu{
        width: 600px;
    }
    .contenu .reTEX{
        width: 600px;
    }
    .Download{
        top: 90%;
        width: 600px;
        border-radius: 10px;
        left: 10%;
    }
}
@media screen and (max-height:850px) and (max-width: 1665px) {
    #app{
        height: 700px;
    }
}
@media screen and (max-height:732px) and (max-width:390px) {
    .window{
        height: 100vh;
        width: 50vw;
        overflow-y: scroll;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
    }
    .contenu{
        width: 100%;
        height: 150vh;
        box-sizing: border-box;
        display: block;
    }
    .contenu p{
        position: absolute;
        color: white;
        width: 65%;
        top: 550px;
        text-align: justify;
        left: 10% !important;
        border-top: 10px solid white;
        padding-top: 30px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .contenu h1{
        position: absolute;
        color: white;
        width: 70%;
        height: 70px;
        left: 10%;
        top: 25px;
        border-bottom: solid white 10px;
    }
    .Download{
        color: white;
        cursor: pointer;
        background-color: #1a1a1a;
        width: 100px;
        height: 50px;
        position: absolute;
        border-radius: 15%;
        top: 600px;
        right: 50px;
        border-left: solid #545454;
        border-top: solid #545454;
    }
    .contenu .reTEX{
        height: 400px;
        width: 650px;
        top: 120px;
    }
    .icofont-close-line-circled{
        position: absolute;
        right: 4%;
        top: 2%;
        scale: 50%;
        color: white;
        cursor: pointer;
    }
}
@media screen and (max-width:558px) {
    div.image.profile{
        width: 100vw !important;
    }
}
@media screen and (max-width:784px) {
    div.image.profile{
        width: 60vw;
    }
    .projet ul div{
        width: 100%;
    }
    header{
        flex-direction: column!important;
    }
    .info{
        margin-bottom: 200px;
        width: 90%;
        height: 50%;
        margin-left: 0;
    }
    #Presentation{
        margin-left: 0%;
    }
    .poste{
        height: 70%;
        width: 80%;
    }
    
    
}
.icofont-close-line-circled{
    position: absolute;
    right: 4%;
    top: 2%;
    color: white;
    cursor: pointer;
    scale: 100%;
}
.contact ul{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 100%;
}
.contact form{
    width: 15%;
}
.contact{
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 1;
    display: none;
}
#linkedin button{
    background-color: #0a63bc;
}
#linkedin i{
    color: white;
}
#linkedin p{
    color: white;
}
#Git button{
    background-color: #000000;
}
#Git img{
    background-color: white;
    border-radius: 100%;
    border: #000000 solid;
}
#Git p{
    color: white;
}
#Git img{
    width: 40px;
}
#mail button{
    background-color: #d5443b;
}
#mail i{
    color: white;
}
#mail p{
    color: white;
}
.contact button{
    background-color:rgba(0,0,0,0.2);
    border: none;
    width: 100%;
    border-radius: 10%;
    height: 70px;
    cursor: pointer;
}
#linkedin i,
#mail i{
    font-size: 40px;
}

.enroule{
    transform: translateY(-100px);
    position: fixed;
    transition: 1s;
    display: none !important;
}
.dérouler{
    transform: translateY(0px);
    position: fixed;
    transition: 1s;
}
.bold{
    font-weight: bold;
}
#list{
    position: fixed;
    top: 1%;
    left: 2%;
    width: 100px;
    height: 50px;
    border-radius: 20%;
    background-color: white;
    cursor: pointer;
    z-index: 1;
}
.decendre{
    transform: translateY(+100px);
    transition: 1s;
}
.remonte{
    transform: translateY(0px);
    transition: 1s;
}
.icofont-expand{
    color: rgba(255,255,255,0.4);
}
.suivant{
    color:white;
    position: absolute;
    bottom: 5%;
    right: 5%;
}